PORT=4500
OLIOPS_DATA_DIR=./data
OLIOPS_BUSINESS_NAME=Your Business
OLIOPS_BUSINESS_EMAIL=you@yourbusiness.com
OLIOPS_SESSION_TTL_HOURS=12
OLIOPS_MAX_FAILED_ATTEMPTS=5
OLIOPS_LOCKOUT_WINDOW_MINUTES=15
ALLOWED_ORIGIN=*
